footer {
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  height: 50px;
  background-color: #750000;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  color: white;
  padding: 0.7em 0em 0;
}

#navbar {
  border-radius: 5px;
  background-color: #a11b16;
  color: white;
}

.cardPokemon {
  border-radius: 25px;
  margin: 0 !important;
}

.cardPokemon:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#CardCarrinho {
  border: 2px solid rgba(0, 0, 0, .125);
  border-radius: 25px;
}